/*

Add styles or override variables from the theme here.

*/

// Theme colors

$rosely0: #27272a !default;
$rosely1: #615f5f !default;
$rosely2: #a49e9e !default;
$rosely3: #f4eee8 !default;
$rosely4: #ec809e !default;
$rosely5: #f7caca !default;
$rosely6: #f8d7dd !default;
$rosely7: #f4dede !default;
$rosely8: #85677b !default;
$rosely9: #b565a7 !default;
$roselyA: #be9cc1 !default;
$roselyB: #d2c4d6 !default;
$roselyC: #d2386c !default;
$roselyD: #64bfa4 !default;
$roselyE: #3cadd4 !default;
$roselyF: #eada4f !default;

$primary: $rosely9 !default;
$primary-light: $roselyA !default;
$secondary: $roselyC !default;
$success: $roselyD !default;
$info: $roselyE !default;
$warning: $roselyF !default;
$danger: $roselyC !default;
$white: $rosely3 !default;
$light: $rosely5 !default;

$dark: $rosely9 !default;
$blue: $roselyE !default;
$orange: $rosely4 !default;
$gray-100: $rosely3 !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: $rosely0 !default;

$code-color: $rosely8 !default;

// UI element colors

$border-color: $roselyA !default;
$td-sidebar-bg-color: $rosely7 !default;
$td-sidebar-border-color: $border-color !default;

// Background colors for the sections on home page etc. It is a paint by number system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user.
// These colors are all part of the theme palette, but the mix is fairly random to create variation. This can be overridden by the project if needed.
$td-box-colors: $rosely5, $rosely8, $rosely6, $rosely7, $primary-light, $gray-600, $success, $warning, $dark, $danger, $primary, $secondary, $primary-light, $info !default;

$link-color: $rosely9 !default;
$link-decoration: none !default;
$link-hover-color: $roselyA !default;
$link-hover-decoration: none !default;

$font-size-base: 1rem !default;

// Font weights

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-body-text: $font-weight-normal !default;
$headings-font-weight: $font-weight-medium !default;

// Heading sizes

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.35 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base !default;

// Display styles

$display1-weight: $font-weight-bold !default;
$display2-weight: $font-weight-bold !default;
$display3-weight: $font-weight-bold !default;
$display4-weight: $font-weight-bold !default;
$display1-size: 3rem !default;
$display2-size: 2.5rem !default;
$display3-size: 2rem !default;
$display4-size: 1.75rem !default;

// Space

$spacer: 1rem;
$td-block-space-top-base: 4 * $spacer !default;
$td-block-space-bottom-base: 4 * $spacer !default;

// Pagination

$pagination-color: $gray-600 !default;
$pagination-border-color: rgba($black, 0.1) !default;
$pagination-active-border-color: darken($primary, 5%) !default;
$pagination-disabled-color: $gray-300 !default;

// Navbar

$navbar-dark-color: rgba($white, 0.7) !default;
$navbar-dark-hover-color: rgba($white, 0.9) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($light, 0.25) !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light".
$yiq-contrasted-threshold: 200 !default;

.td-rosely {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;

    & > .byline {
        position: absolute;
        bottom: 2px;
        right: 4px;
    }
}